name: Build and Push
on:
  release:
    types: [created]
jobs:
  get_tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.get_tag.outputs.tag }}
    steps:
    - id: get_tag
      run: echo "::set-output name=tag::$(echo ${{ github.ref }} | cut -d/ -f 3)"
  push_to_registry:
    name: Push Docker image to Gitlab registry
    runs-on: ubuntu-latest
    needs: get_tag
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          repository: 'ilanssari/odemo'
          ref: 'master'
      - name: Maven build
        run: mvn clean package
      - name: Push to Gitlab registry
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.GITLAB_USERNAME }}
          password: ${{ secrets.GITLAB_PASSWORD }}
          repository: ilanssari/odemo
          tags: ${{needs.get_tag.outputs.tag}}
    