name: Build and Push
on:
  pull_request:
    types: [closed] 
jobs:
  get_tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.get_tag.outputs.tag }}
    steps:
    - id: get_tag
      run: echo "::set-output name=tag::$(echo ${{github.event.number}})"
  build_n_artifact:
    name: Building the app and save the jar as artifact
    runs-on: odemo
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          repository: 'ilanssari/odemo'
          ref: 'master'
      - name: Maven build
        run: mvn -s /etc/maven/custom/settings.xml clean package
      - name: Upload artifact jar
        uses: actions/upload-artifact@v2
        with:
          name: odemo
          path: target/cicd-demo-app-*.jar
      - name: Upload artifact Dockerfile
        uses: actions/upload-artifact@v2
        with:
          name: Dockerfile
          path: Dockerfile
  push_to_dockerhub:
    name: Building a Docker image and pushing it to DockerHub
    runs-on: ubuntu-latest
    needs: 
      - get_tag
      - build_n_artifact
    steps:
      - name: Download artifact jar
        uses: actions/download-artifact@v2
        with:
          name: odemo
      - name: Download artifact Dockerfile
        uses: actions/download-artifact@v2
        with:
          name: Dockerfile
      - name: show current patht
        run: ls -lah && pwd
      - name: set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push to Dockerhub registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ilanssari/odemo:${{needs.get_tag.outputs.tag}}
  deploy_to_cluser:
    name: deploying the new app to the cluster
    runs-on: ubuntu-latest
    needs: 
      - push_to_dockerhub
      - get_tag
    outputs:
      status: ${{ steps.status.outputs.status }}
    steps:
      - name: deploy to cluster
        uses: steebchen/kubectl@v1.0.0
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
          KUBECTL_VERSION: "1.15"
        with:
          args: -n odemo set image deployment/odemo odemo=ilanssari/odemo:${{needs.get_tag.outputs.tag}}
      - name: check deployment status
        id: status
        uses: ilanssari/okubectl@master
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
  comment_to_pr:
    name: write the status of the deployment on the PR
    runs-on: ubuntu-latest
    needs: deploy_to_cluser
    steps:
      - name: write the status on the PR
        uses: mshick/add-pr-comment@v1
        with:
          message: |
            The deployment ${{ needs.deploy_to_cluser.outputs.status }} !
          repo-token: ${{ github.token }}
          repo-token-user-login: 'github-actions[bot]' # The user.login for temporary GitHub tokens
          allow-repeats: true # the default is false
    