name: Compile and Test

on:
  pull_request:
    types: [opened,edited,reopened,review_requested,synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          repository: 'ilanssari/odemo'
          ref: ${{ github.ref }}
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 13.0.1
          java-package: jdk
      - name: Maven compile and test
        run: mvnzz clean test install
      #- uses: mshick/add-pr-comment@v1
      #  with:
      #    message: |
      #      The comilation and tests for @${{ github.sha }} are successfully passed !
      #    repo-token: ${{ github.token }}
      #    repo-token-user-login: 'github-actions[bot]' # The user.login for temporary GitHub tokens
      #    allow-repeats: false # the default is false